@using Microsoft.AspNetCore.Components.Web
@using BakingBesties.Shared

<style>
    fluent-card {
        --card-width: 120px;
        --card-height: 200px;
        padding: 20px;
        margin: 12px;
        width: 280px;
        height: 320px;
    }

    .card-img {
        height: 85%;
        width: 100%;
        position: relative;
    }

        .card-img:hover {
            opacity: 0;
        }

    .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px 0;
        padding: 10px;
        background-color: white;
        width: 100%;
    }


    .card-text:hover {
        opacity: 1;
    }


    .card-text {
        height: 85%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
    }
    a.link {
        color: #333;
        text-decoration: none;
    }
</style>

@{
    string starRating = "";

    switch (Rating)
    {
        case 1:
            starRating = "★☆☆☆☆";
            break;
        case 2:
            starRating = "★★☆☆☆";
            break;
        case 3:
            starRating = "★★★☆☆";
            break;
        case 4:
            starRating = "★★★★☆";
            break;
        case 5:
            starRating = "★★★★★";
            break;
        default:
            starRating = "☆☆☆☆☆";
            break;
    }
}

<FluentCard>
    <a href="@Url" class="link" style="text-decoration:none;">

        <img src="@ImageUrl" class="card-img" alt="Image description">
        <div class="card-text">
            Prep Time: @PrepTime minutes <br>Cook Time: @CookTime minutes<br>Rating: @starRating
            (@NumberOfReviews reviews)
        </div>
    </a>

    <h5 class="card-title">@Title</h5>
    <CardButton />
</FluentCard>

@code {
    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int PrepTime { get; set; }

    [Parameter]
    public int CookTime { get; set; }

    [Parameter]
    public int Rating { get; set; }

    [Parameter]
    public int NumberOfReviews { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnButtonClick { get; set; }

    private string starStyle = "color: #FABD03; font-size: 1.2rem; margin-right: 2px;";
    private string emptyStarStyle = "color: lightgray; font-size: 1.2rem; margin-right: 2px;";

}
